<a href="https://colab.research.google.com/github/rajniyadavashish/Twitter_assignment/blob/main/Twitter_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Twitter Assignment - ASHISH YADAV

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
# %cd /content/drive/MyDrive/project_sentiment

In [ ]:
!pip install git+https://github.com/tweepy/tweepy.git
!pip3 install -U textblob
!python -m textblob.download_corpora
import tweepy
import webbrowser
import time
import json
import os
import pandas as pd
import logging
from logging.handlers import RotatingFileHandler
from sys import getsizeof

  Running command git clone -q https://github.com/tweepy/tweepy.git 'C:\Users\TeamA\AppData\Local\Temp\pip-req-build-vc43hi9c'
  ERROR: Error [WinError 2] The system cannot find the file specified while executing command git clone -q https://github.com/tweepy/tweepy.git 'C:\Users\TeamA\AppData\Local\Temp\pip-req-build-vc43hi9c'
ERROR: Cannot find command 'git' - do you have 'git' installed and in your PATH?

Collecting git+https://github.com/tweepy/tweepy.git
  Cloning https://github.com/tweepy/tweepy.git to c:\users\teama\appdata\local\temp\pip-req-build-vc43hi9c

## Stage-1
Your program should prompt the user to input the keyword.
You're going to write tweet JSON object per LINE in the log file. Each line can then be parsed individually.
After successfully storing data in log files, your program should print following statistics in the console after termination

Time taken to run the program

Average size (in bytes) of a tweet JSON

Number of log files created to store data

Average number of records in a log file

Average size (in KB) of a log file

In [ ]:
# enter your api keys
consumer_key = "enter keys"
consumer_secret = "enter keys"

In [ ]:
callback_uri = 'oob' # https://cfe.sh/twitter/callback

In [ ]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret, callback_uri)
redirect_url = auth.get_authorization_url()
print(redirect_url)

https://api.twitter.com/oauth/authorize?oauth_token=_m0DvAAAAAABWjOsAAABfbeQrr8

In [ ]:
webbrowser.open(redirect_url)

True

In [ ]:
user_pin_input = input("What's the pin value? ")

What's the pin value?  1232812

In [ ]:
user_pin_input

'1232812'

In [ ]:
auth.get_access_token(user_pin_input)

('1300687822505103360-xCfdbd82Xt5DzA6gOvqBQhYpnboGzJ',
 '8up0HdKPIvg5Gww5kSr4MEBdEUnXb2btkgn8jwqBVULBB')

In [ ]:
print(auth.access_token, auth.access_token_secret)

1300687822505103360-xCfdbd82Xt5DzA6gOvqBQhYpnboGzJ 8up0HdKPIvg5Gww5kSr4MEBdEUnXb2btkgn8jwqBVULBB

In [ ]:
api = tweepy.API(auth, wait_on_rate_limit=True)

In [ ]:
query = input("Enter a keyword to search") #enter the keyword to search about

Enter a keyword to search covid-19

In [ ]:
#set the number of max tweets to analyse
#using only 10k tweets since scraping 100k tweets takes 8hrs
max_tweets=10000
geo='38.8950368,-77.0365427,250km' # washington dc geocode 
searched_tweets = [status._json for status in tweepy.Cursor(api.search_tweets,q=query,lang='en',geocode = geo).items(max_tweets)]
json_strings = [json.dumps(json_obj) for json_obj in searched_tweets]

Rate limit reached. Sleeping for: 652
Rate limit reached. Sleeping for: 806
Rate limit reached. Sleeping for: 810
Rate limit reached. Sleeping for: 809

In [ ]:
len(json_strings)

10000

In [ ]:
# finding the size of a single tweet in kb
tweetsize=0
avg_tweetsize=0
no_of_tweet=len(json_strings)
for i in json_strings:
    tweetsize+=getsizeof(i)

avg_tweetsize=tweetsize/no_of_tweet
print(avg_tweetsize)

3154.4146

In [ ]:
# changing the dirctory
%cd C:/Users/TeamA/Desktop/Twitter_Project/extracted

C:\Users\TeamA\Desktop\Twitter_Project\extracted

In [ ]:
# Storing the data and splitting the files (Max file size is 1MB (Juptyter notebook limitation))

logger = logging.getLogger('my_logger')
logger.setLevel(logging.DEBUG)
handler = RotatingFileHandler('my_log', maxBytes=1000000, backupCount=100)
logger.addHandler(handler)

for i in range(len(json_strings)):
    logger.info(json_strings[i])

In [ ]:
#finding the number of tweets per file
def tweet_count(filename):

    file = open(filename)
    Counter = 0

    # Reading from file
    Content = file.read()
    CoList = Content.split("\n")

    for i in CoList:
        if i:
            Counter += 1

    return Counter # returns number of records per file

In [ ]:

directory_path = 'C:/Users/TeamA/Desktop/Twitter_Project/extracted'
No_of_files = len(os.listdir(directory_path))

In [ ]:
#finding the file size
files = os.listdir(directory_path)

for f in files:
    tweet_count(f)
    file_size = os.path.getsize(f)
    print('Size of file is', file_size, 'bytes')

Size of file is 125903 bytes
Size of file is 995097 bytes
Size of file is 999792 bytes
Size of file is 998182 bytes
Size of file is 997063 bytes
Size of file is 998956 bytes
Size of file is 999541 bytes
Size of file is 999224 bytes
Size of file is 998707 bytes
Size of file is 998854 bytes
Size of file is 998683 bytes
Size of file is 997771 bytes
Size of file is 999461 bytes
Size of file is 999484 bytes
Size of file is 997045 bytes
Size of file is 997313 bytes
Size of file is 999535 bytes
Size of file is 998569 bytes
Size of file is 999370 bytes
Size of file is 997667 bytes
Size of file is 997322 bytes
Size of file is 999757 bytes
Size of file is 997578 bytes
Size of file is 997809 bytes
Size of file is 997773 bytes
Size of file is 998494 bytes
Size of file is 999668 bytes
Size of file is 994983 bytes
Size of file is 998048 bytes
Size of file is 998126 bytes
Size of file is 999097 bytes
Size of file is 999274 bytes

In [ ]:
totaltweet =0
total_file_size=0
for f in files:
    totaltweet+=tweet_count(f)
    file_size = os.path.getsize(f)
    total_file_size+=file_size
    
avgtweetcnt=totaltweet/No_of_files
avg_file_size=total_file_size/No_of_files

In [ ]:
print('Average size (in bytes) of a tweet JSON : ',avg_tweetsize)
print('Number of log files created to store data : ',No_of_files)
print('Average number of records in a log file :',avgtweetcnt)
print('Average size (in KB) of a log file :',avg_file_size*0.001)

Average size (in bytes) of a tweet JSON :  3154.4146
Number of log files created to store data :  32
Average number of records in a log file : 312.5
Average size (in KB) of a log file : 971.0670625

## Stage - 2
You're going to write a new JSON object per LINE in the log file. Each line can then be parsed individually.
After successfully storing data in log files, your program should print following statistics in the console after termination

Time taken to run the program

Average size (in bytes) of a new JSON

Minimum and maximum size of new JSON objects

Number of log files created to store data

Average number of records in a log file

Average size (in KB) of a log file

Count of URLs removed

In [ ]:
#reading the log file
import pandas as pd
with open("my_log") as fh:
    tweets = [json.loads(line) for line in fh if line]

df = pd.DataFrame(tweets)

In [ ]:
df.head(2)

,created_at,id,id_str,text,truncated,entities,metadata,source,in_reply_to_status_id,in_reply_to_status_id_str,...,quoted_status_id,quoted_status_id_str,quoted_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,extended_entities
0,Wed Dec 08 04:02:15 +0000 2021,1468430698138812421,1468430698138812421,"“So, I do have a test today actually!” \n\nOur...",True,"{'hashtags': [{'text': 'Princeton', 'indices':...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/iphone"" r...",NaN,None,...,1.468403e+18,1468402649263390727,{'created_at': 'Wed Dec 08 02:10:47 +0000 2021...,3,8,False,False,False,en,NaN
1,Wed Dec 08 04:02:00 +0000 2021,1468430637774245898,1468430637774245898,@laurenboebert @RepThomasMassie Even before CO...,True,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",1.468411e+18,1468411381653323777,...,NaN,NaN,NaN,0,2,False,False,NaN,en,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   created_at                 39 non-null     object
 1   id                         39 non-null     int64
 2   id_str                     39 non-null     object
 3   text                       39 non-null     object
 4   truncated                  39 non-null     bool
 5   entities                   39 non-null     object
 6   metadata                   39 non-null     object
 7   source                     39 non-null     object
 8   in_reply_to_status_id      11 non-null     float64
 9   in_reply_to_status_id_str  11 non-null     object
 10  in_reply_to_user_id        11 non-null     float64
 11  in_reply_to_user_id_str    11 non-null     object
 12  in_reply_to_screen_name    11 non-null     object
 13  user                       39 non-null     object
 14  geo                        0 non-null      object
 15  coordinates                0 non-null      object
 16  place                      0 non-null      object
 17  contributors               0 non-null      object
 18  is_quote_status            39 non-null     bool
 19  quoted_status_id           3 non-null      float64
 20  quoted_status_id_str       3 non-null      object
 21  quoted_status              3 non-null      object
 22  retweet_count              39 non-null     int64
 23  favorite_count             39 non-null     int64
 24  favorited                  39 non-null     bool
 25  retweeted                  39 non-null     bool
 26  possibly_sensitive         32 non-null     object
 27  lang                       39 non-null     object
 28  extended_entities          1 non-null      object
dtypes: bool(4), float64(3), int64(3), object(19)
memory usage: 7.9+ KB

In [ ]:
# Emoji_removal 
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [ ]:
#stop word removal
from gensim.parsing.preprocessing import remove_stopwords
def stopwordrev(text):
    filtered_sentence = remove_stopwords(text)
    return(filtered_sentence)

In [ ]:
#processing the Raw Tweet
import re
import string
def clean_text(text):
    """Make text lowercase, 
       remove text in angle brackets,
       remove \n,
       remove punctuation and 
       remove words containing numbers."""
    # lower case
    text = str(text).lower() 
    
    # remove text in angle brackets
    text = re.sub('<.*?>+', '', text).strip()
    
    # remove punctuation
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text).strip()
    
    #remove newline character
    text = re.sub('\n', ' ', text).strip()
    
    # remove words containing numbers
    text = re.sub('\w*\d\w*', '', text).strip()
    
    text = remove_emoji(text)
    text = stopwordrev(text)
    
    return text

In [ ]:
df['tidytweet'] = df['text'].apply(clean_text)

In [ ]:
df['tidytweet'][0]

'“so test today actually” absolute star firstyear reporter princeton isolation d…'

In [ ]:
#tokenization
import spacy

nlp = spacy.load('en_core_web_sm')

def cleaner(string):
    
    # Generate list of tokens
    doc = nlp(string)
    lemmas = [token.lemma_ for token in doc]
    # Remove tokens that are not alphabetic 
    a_lemmas = [lemma for lemma in lemmas if lemma.isalpha() 
                 or lemma == '-PRON-'] 
    # Print string after text cleaning
    return a_lemmas

In [ ]:
df['tokenizedTweet']=df['tidytweet'].apply(cleaner)

In [ ]:
df['tokenizedTweet'].head()

0    [so, test, today, actually, absolute, star, fi...
1    [laurenboebert, repthomasmassie, epidemic, kil...
2    [researcher, discover, biomarker, aid, early, ...
3    [plantbase, vaccine, show, high, efficacy, covid]
4    [father, fouryearold, autistic, boy, tell, ing...
Name: tokenizedTweet, dtype: object

In [ ]:
# finding the list of mentions in the tweet
def mentions(text):
    regex=re.compile(r"(?<=^|(?<=[^a-zA-Z0-9-_\.]))@([A-Za-z]+[A-Za-z0-9]+)")
    result = regex.findall(text)
    return result

In [ ]:
# finding the list of hashtags in the tweet
def hashtags(text):
    regex=re.compile(r"(?<=^|(?<=[^a-zA-Z0-9-_\.]))#([A-Za-z]+[A-Za-z0-9]+)")
    result = regex.findall(text)
    return result

In [ ]:
df['listMentions']=df['text'].apply(mentions)

In [ ]:
df['listHashtags']=df['text'].apply(hashtags)

In [ ]:
df['tweetId']=df['id']
df['rawTweet']=df['text']
df['countRetweets']=df['retweet_count']
df['placeName']=df['place']

In [ ]:
df_cleaned=df[['tweetId','rawTweet','tidytweet','tokenizedTweet','listMentions','listHashtags','countRetweets','placeName']]

In [ ]:
df_cleaned.head()

,tweetId,rawTweet,tidytweet,tokenizedTweet,listMentions,listHashtags,countRetweets,placeName
0,1468430698138812421,"“So, I do have a test today actually!” \n\nOur...",“so test today actually” absolute star firstye...,"[so, test, today, actually, absolute, star, fi...",[],[Princeton],3,None
1,1468430637774245898,@laurenboebert @RepThomasMassie Even before CO...,laurenboebert repthomasmassie epidemic killing...,"[laurenboebert, repthomasmassie, epidemic, kil...","[laurenboebert, RepThomasMassie]",[],0,None
2,1468430284118966273,Researchers discover biomarker that could aid ...,researchers discover biomarker aid early detec...,"[researcher, discover, biomarker, aid, early, ...",[],[],0,None
3,1468430278842585090,Plant-based vaccine shows high efficacy agains...,plantbased vaccine shows high efficacy covid,"[plantbase, vaccine, show, high, efficacy, covid]",[],[],0,None
4,1468430259833880580,The father of a four-year-old autistic boy tol...,father fouryearold autistic boy told ingraham ...,"[father, fouryearold, autistic, boy, tell, ing...",[],[],0,None

In [ ]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweetId         39 non-null     int64
 1   rawTweet        39 non-null     object
 2   tidytweet       39 non-null     object
 3   tokenizedTweet  39 non-null     object
 4   listMentions    39 non-null     object
 5   listHashtags    39 non-null     object
 6   countRetweets   39 non-null     int64
 7   placeName       0 non-null      object
dtypes: int64(2), object(6)
memory usage: 2.6+ KB

In [ ]:
# storing the cleaned records in json format
d = df_cleaned.to_dict(orient='records')
j = json.dumps(d)

In [ ]:
cleaned_json_list=[json.dumps(json_obj) for json_obj in d]

In [ ]:
cleaned_json_list[0]

'{"tweetId": 1468430698138812421, "rawTweet": "\\u201cSo, I do have a test today actually!\\u201d \\n\\nOur absolute star first-year reporter in a #Princeton COVID-19 isolation d\\u2026 https://t.co/NYVge3f9Nr", "tidytweet": "\\u201cso test today actually\\u201d absolute star firstyear reporter princeton isolation d\\u2026", "tokenizedTweet": ["so", "test", "today", "actually", "absolute", "star", "firstyear", "reporter", "princeton", "isolation", "d"], "listMentions": [], "listHashtags": ["Princeton"], "countRetweets": 3, "placeName": null}'

In [ ]:
%cd C:/Users/TeamA/Desktop/Twitter_Project/cleansed

C:\Users\TeamA\Desktop\Twitter_Project\cleansed

In [ ]:
# splitting and saving the cleaned data in log files
count_row = df.shape[0]
logger = logging.getLogger('my_logger_cleaned')
logger.setLevel(logging.DEBUG)
handler = RotatingFileHandler('my_log_cleaned', maxBytes=1000000, backupCount=100)
logger.addHandler(handler)

for i in range(count_row):
    logger.info(cleaned_json_list[i])

In [ ]:
#changing the directory
directory_path = 'C:/Users/TeamA/Desktop/Twitter_Project/cleansed'
No_of_files = len(os.listdir(directory_path))

In [ ]:
files = os.listdir(directory_path)

for f in files:
    tweet_count(f)
    file_size = os.path.getsize(f)
    print('Size of file', f,'is', file_size, 'bytes')

Size of file my_log_cleaned is 18697 bytes

In [ ]:
totaltweet =0
total_file_size=0
for f in files:
    totaltweet+=tweet_count(f)
    file_size = os.path.getsize(f)
    total_file_size+=file_size
    
avgtweetcnt=totaltweet/No_of_files
avg_file_size=total_file_size/No_of_files

In [ ]:
print('Average size (in bytes) of cleaned tweet JSON : ',avg_tweetsize)
print('Number of new log files created to store data : ',No_of_files)
print('Average number of records in cleaned log file :',avgtweetcnt)
print('Average size (in KB) of a log file :',avg_file_size*0.001)

Average size (in bytes) of cleaned tweet JSON :  3154.4146
Number of new log files created to store data :  1
Average number of records in cleaned log file : 39.0
Average size (in KB) of a log file : 18.697

## Stage-3

Problem A - Generate Word count

In [ ]:
#finding the word count and saving it to csv
path='C:/Users/TeamA/Desktop/Twitter_Project/wordcounts/'
def cleansed_csv(file):
    with open(file+'') as fh:
        tweets = [json.loads(line) for line in fh if line]
    df = pd.DataFrame(tweets)
    wordcount = df['tidytweet'].str.split(expand=True).stack().value_counts().reset_index()
    wordcount.columns = ['Word', 'Frequency']
    return wordcount.to_csv(path+'_'+file+'.csv')

In [ ]:
directory_path = 'C:/Users/TeamA/Desktop/Twitter_Project/cleansed'
for f in files:
    cleansed_csv(f)

### Problem C - Sentiment Analysis and its distribution

In [ ]:
#sentiment analysis of the tweets
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')
twtsnt = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\TeamA\AppData\Roaming\nltk_data...

In [ ]:
df_cleaned['score'] = df_cleaned['tidytweet'].apply(lambda review: twtsnt.polarity_scores(review))

C:\Users\TeamA\AppData\Local\Temp/ipykernel_17584/2130666309.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['score'] = df_cleaned['tidytweet'].apply(lambda review: twtsnt.polarity_scores(review))

In [ ]:
df_scores=df_cleaned[['tidytweet','score']]

In [ ]:
df_scores['compound']  = df_scores['score'].apply(lambda score_dict: score_dict['compound'])

C:\Users\TeamA\AppData\Local\Temp/ipykernel_17584/3060321930.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scores['compound']  = df_scores['score'].apply(lambda score_dict: score_dict['compound'])

In [ ]:
df_scores['compound'] = df_scores['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

C:\Users\TeamA\AppData\Local\Temp/ipykernel_17584/2716455355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scores['compound'] = df_scores['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

In [ ]:
df_scores.head()

,tidytweet,score,compound
0,“so test today actually” absolute star firstye...,"{'neg': 0.213, 'neu': 0.787, 'pos': 0.0, 'comp...",neg
1,laurenboebert repthomasmassie epidemic killing...,"{'neg': 0.493, 'neu': 0.507, 'pos': 0.0, 'comp...",neg
2,researchers discover biomarker aid early detec...,"{'neg': 0.208, 'neu': 0.792, 'pos': 0.0, 'comp...",neg
3,plantbased vaccine shows high efficacy covid,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",pos
4,father fouryearold autistic boy told ingraham ...,"{'neg': 0.214, 'neu': 0.786, 'pos': 0.0, 'comp...",neg